.register-header {
  text-align: center;
  padding: 30px 0;
}

.register-container-header {
  text-align: center
}

.register-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  background-color: white;
}

.register-background {
  background-color: #f0f0f0;
  height: 100vh;
}